@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root {
    --main-color: #3a3936;
    --color-dark: #1D2231;
    --text-grey: #8290A2;
}

* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #ffffff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1.2rem;
}

.sidebar a {
    color: #ffffff;
    font-size: .9rem;
}

.sidebar a span:last-child {
    padding-left: 0.3rem;
}

/* #sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header{
    margin-left: 60px;
} */

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #ffffff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img.jpg);
    border-radius: 50%;
}

main {
    margin-top: 60px;
    background: #f1f1f1;
    min-height: 90vh;
    padding: 2rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.index {
    margin-top: 2rem;
    margin-left: 1rem;
    /* background: #fff; */
}

.index-grid {
    display: grid;
    grid-template-columns: 97%;
    grid-column-gap: 1.5rem;
}

.index-card {
    background: #fff;
    border-radius: 7px;
    padding: 0rem;
}

.index-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}

.index-card table {
    width: 100%;
    border-collapse: collapse;
}

.index-card thead {
    background: #efefef;
    text-align: left;
}

th, td {
    font-size: .9rem;
    padding: 1rem .5rem;
    color: var(--color-dark);
}

td {
    font-size: .85rem;
}

tbody tr:nth-child(even){
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
}

.badge.success {
    background: #DEF7EC;
    color: var(--main-color);
}